<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-item" style=" color:#fff; text-decoration: none;" href="{% url 'home' token %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-item" style="margin-left:20px; color:#fff; text-decoration: none;" href="{% url 'about' token %}">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-item" style="margin-left:20px; color:#fff; text-decoration: none;" href="{% url 'joke_f' token %}">Joke</a>
                  </li>
                </ul>
              </div>
            
                      <div class="flex-grow-1 d-flex">
                          <form class="form-inline flex-nowrap mx-0 mx-lg-auto rounded" method="GET" action="{% url 'search_f' %}">
                              <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search_string" value="{{request.GET.search_string}}" aria-label="Search">
                              <input type="hidden" id="token_hidden" name="token" value={{token}}>
                              <button class="btn btn-outline-success" type="submit">Search</button>
                          </form>
                      </div>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav ml-auto">
                          <a class="nav-item nav-link" href="{% url 'update_f' token %}">Update</a>
                          </div>
                          <div class="navbar-nav ml-auto">
                            <a class="nav-item nav-link" href="{% url 'delete_f' token %}">Delete</a>
                            </div>
                          <div class="navbar-nav ml-auto">
                              <a class="nav-item nav-link" href="{% url 'logout_f' token %}">Logout</a>
                          </div>
                      </div>
              </nav>


            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>