appdirs==1.4.4
asgiref==3.2.7
automium==0.2.6
automium-web==0.1.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
distlib==0.3.0
Django==3.0.6
djangorestframework==3.11.0
filelock==3.0.12
Flask==1.1.2
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
legacy==0.1.6
MarkupSafe==1.1.1
mysqlclient==1.4.6
pytz==2020.1
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.9
virtualenv==20.0.21
Werkzeug==1.0.1
