asgiref==3.2.7
certifi==2020.4.5.1
chardet==3.0.4
Django==3.1.9
django-crispy-forms==1.9.1
django-rest-framework==0.1.0
djangorestframework==3.11.0
idna==2.9
mysqlclient==1.4.6
pytz==2020.1
requests==2.23.0
sqlparse==0.3.1
urllib3==1.25.9
newsapi-python==0.2.6
