
{% extends "./base.html" %}

{% block title %} Create An Account {% endblock %}
{% load crispy_forms_tags  %}
{% block content %}
<body>
<h2 style="text-align: center;">Register</h2>
<form  style="text-align: center; float: left;" method="POST" class="form-group">
    <h2 style="color: red; text-align: center;">{{error}}</h2>
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-success">Register</button>
</form>
<h4 style="float: right;">
{% for res in resp %}
<ul style="color: black; text-align: center;">{{ res }}</ul>   
{% endfor %}
</h4>
</body>
{% endblock%}

