.SearchLanding{
    min-height: 100vh;
    height: 100%;
    background-color: #313638;
}

.ProfilePhoto{
    max-width: 100%;
}

.GeneralSmallFont{
    color: #E0DFD5;
    font-family: 'Rubik', sans-serif !important;
    font-size: 16px;
}

.GeneralMediumFont{
    color: #E0DFD5;
    font-family: 'Rubik', sans-serif !important;
    font-size: 20px;
}

.GeneralLargeFont{
    color: #E0DFD5;
    font-family: 'Rubik', sans-serif;
    font-size: 48px;
}

.SearchContainer{
    padding-top: 2%;
}

.UserCardToSearch{
    border: 2px solid #E0DFD5;
    background-color: #646D93;
}

.SearchAvatar{
    width: 7vw !important;
    height: 7vw !important;
}

.SearchInformation{
    display: flex;
    align-items: center;
}

.SearchCheckBoxes{
    display: block !important;
    color: #E0DFD5;
    font-family: 'Rubik', sans-serif;
}