

.Spinner {

    height: 10vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .Spinner {
    animation: Spinner-spin infinite 1.5s linear;
  }
}



@keyframes Spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

